src/main/resources/wsdl/zesales_delivery_obra_v3.wsdl

<wsdl:definitions xmlns:zesales_delivery_obra_v3="http://www.grupocbb.cl/sap/rfc/zesales_delivery_obra_v3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.grupocbb.cl/sap/rfc" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rsp="http://www.grupocbb.cl/sap/rfc/zesales_delivery_obra_v3/rsp" targetNamespace="http://www.grupocbb.cl/sap/rfc">
    <wsdl:types>
        <xs:schema xmlns:zesales_delivery_obra_v3="http://www.grupocbb.cl/sap/rfc/zesales_delivery_obra_v3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.grupocbb.cl/sap/rfc" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rsp="http://www.grupocbb.cl/sap/rfc/zesales_delivery_obra_v3/rsp" xmlns="http://www.grupocbb.cl/sap/rfc/zesales_delivery_obra_v3/rsp" elementFormDefault="unqualified" targetNamespace="http://www.grupocbb.cl/sap/rfc/zesales_delivery_obra_v3/rsp">
            <xs:element name="ZESALES_DELIVERY_OBRA_V3_RSP">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="PDESCRIP_OBRA" type="xs:string"/>
                        <xs:element name="PCLIENTE_FINAL" type="xs:integer"/>
                        <xs:element name="PDESCRIP_CLTEFIN" type="xs:string"/>
                        <xs:element name="DIRECCION" type="xs:string"/>
                        <xs:element name="DIRECCION_OBRA" type="xs:string"/>
                        <xs:element name="PREGION" type="xs:string"/>
                        <xs:element name="FINIOBRA" type="xs:string"/>
                        <xs:element name="FFINOBRA" type="xs:string"/>
                        <xs:element name="NEJECVEN" type="xs:string"/>
                        <xs:element name="TELF1" type="xs:integer"/>
                        <xs:element name="RETORNO1" type="xs:string"/>
                        <xs:element name="RETORNO2" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:zesales_delivery_obra_v3="http://www.grupocbb.cl/sap/rfc/zesales_delivery_obra_v3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.grupocbb.cl/sap/rfc" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rsp="http://www.grupocbb.cl/sap/rfc/zesales_delivery_obra_v3/rsp" xmlns="http://www.grupocbb.cl/sap/rfc/zesales_delivery_obra_v3" elementFormDefault="unqualified" targetNamespace="http://www.grupocbb.cl/sap/rfc/zesales_delivery_obra_v3">
            <xs:element name="ZESALES_DELIVERY_OBRA_V3">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="PKUNNR" type="xs:integer"/>
                        <xs:element name="PVBELN" type="xs:integer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="Response">
        <wsdl:part element="rsp:ZESALES_DELIVERY_OBRA_V3_RSP" name="DefaultOutput"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="Request">
        <wsdl:part element="zesales_delivery_obra_v3:ZESALES_DELIVERY_OBRA_V3" name="DefaultInput"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="sales_obraPortType">
        <wsdl:operation name="sales_obra">
            <wsdl:input message="tns:Request"> </wsdl:input>
            <wsdl:output message="tns:Response"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="sales_obraSOAPBinding" type="tns:sales_obraPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sales_obra">
            <soap:operation soapAction="http://www.grupocbb.cl/sap/rfc/sales_obraPortType/sales_obraRequest"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="sales_obraService">
        <wsdl:port binding="tns:sales_obraSOAPBinding" name="sales_obraPort">
            <soap:address location="http://10.249.88.3:8182/cxf/ZESALES_DELIVERY_OBRA_V3"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>